%h1
  = link_to request.host_with_port, root_path
  = @base
- @image_files.each do |item|
  .thumb_cell
    %a{ href:"#{@base}#{item}?size=preview&preview=true"}>
      %img{ src:"#{@base}#{item}?size=thumb", width:"128px", height:"128px" }>
      %br
      = item
- if @subfolders.length > 0
  %br
  %b directories:
  %br
  - @subfolders.each do |item|
    = link_to item, "#{@base}#{item}"
    %br

- if @other_files.length > 0
  %br
  %b Non-image files:
  %br
  - @other_files.each do |item|
    = link_to item, "#{@base}#{item}"
    %br
