%h1 @base
%p= @base
- @image_files.each do |item|
  .thumb_cell
    %a{ href:"#{@base}#{item}?size=preview&preview=true"}
      %img{ src:"#{@base}#{item}?size=thumb" }
      %br
      = item
other
%br
- @other_files.each do |item|
  = link_to item, "#{@base}#{item}"
  %br
